
singularity.enabled=true

process.container='apwat/run_faqcs:1.4'

params {
    outDir = "."
    numCPU = 8

    pairFile = "nf_assets/NO_FILE"
    unpairFile = "nf_assets/NO_FILE2"
    adapter = null

    qualityCutoff = 5
    minLength = 50
    avgQuality = 0
    numN = 10
    lowComplexity = 0.85
    cut3end = 0
    cut5end = 0
    splitSize = 1000000

    ontFlag = false
    pacbioFlag = false
    polyA = false

    phredOffset = null

    porechop = false

}

workflow.onComplete = {
    "rm -rf nf_assets".execute().text
}
workflow.onError = {
    "rm -rf nf_assets".execute().text
}