process.container = 'kaijli/runqc:1.0'
docker.enabled = true
workflow.onComplete = {
    "rm -rf nf_assets".execute().text
}
params {
    //input and output parameters
    outDir = "."
    inputFastq = null
    pairedFile = null

    //trimming parameters
    trimMode= null
    trimQual = null
    trim5end = null
    trim3end = null
    trimAdapter = null
    trimRate = null
    trimPolyA = null
    artifactFile = "nf_assets/NO_FILE" //setup for NF optional input file pattern

    //filtering parameters
    minLen = null
    avgQual = null
    numN = null
    filtLC = null
    filtPhiX = null

    //output parameters
    outPrefix = "QC" //FaQCs default
    outStats = "${outPrefix}.stats.txt" //FAQcs default

    //quality encoding parameters
    ascii = null
    outAscii = null
    //misc. parameters
    numCPU = null
    splitSize = null
    qcOnly = null
    kmerCalc = null
    //-m option seems to be nonfunctional in FaQCs 2.10. 
    //params.kmerNum = null
    splitSubset = null
    discard = null
    substitute = null
    trimOnly = null
    replaceGN = null
    trim5off = null
    debugFlag = null
    version = null
}