
params {

    //input
    //pairedFiles = ["${projectDir}/nf_assets/NO_FILE"]
    pairedFiles = ["${projectDir}/test_data/Ecoli_10x.1.fastq","${projectDir}/test_data/Ecoli_10x.2.fastq"]
    unpairedFiles = ["${projectDir}/nf_assets/NO_FILE2"]
    inputContigs = "${projectDir}/nf_assets/NO_FILE3"

    //which modules are run
    modules {
        sra2fastq = false
        faqcs = false
        hostRemoval = false
        annotation = false
        runAssembly = false
    }

    //module parameters -- passed directly into subworkflows according to best practices
    //these are the default values
    shared {
        outDir = "./testing_output"
        projName = "PROJECT"
        cpus = 8
        fastqSource = "Illumina"
    }

    sra2fastq {
        clean = null
        platformRestrict = null
        accessions = []
    }

    faqcs{
        adapter = "${projectDir}/nf_assets/NO_FILE3"

        qualityCutoff = 5
        minLength = 50
        avgQuality = 0
        numN = 10
        lowComplexity = 0.85
        cut3end = 0
        cut5end = 0
        splitSize = 1000000

        ontFlag = false
        pacbioFlag = false
        polyA = false

        phredOffset = null

        porechop = false
    }

    hostRemoval {
        host = ["${projectDir}/nf_assets/NO_FILE3"]
        similarity = 90
        bwaMemOptions = null
    }

    annotation {
        taxKingdom = null
        annotateProgram = "prokka" //default
        customProtein = "${projectDir}/nf_assets/NO_FILE" //setup for optional file pattern
        customHMM = "${projectDir}/nf_assets/NO_FILE2"
        sourceGBK = null
        evalue = null
        gcode = null
        keggView = false
    }

    assembly {
        assembler = "IDBA_UD"
        annotation = false
        contigSizeForAnnotation = 700
        minContigSize = 200
        memLimit = null
        idba{
            maxK = null
            minK = 31
            step = 20
        }
        spades {
            pacbio = "${projectDir}/nf_assets/NO_FILE3"
            nanopore = "${projectDir}/nf_assets/NO_FILE4"
            algorithm = null
        }
        megahit {
            preset = null
        }
        unicycler {
            longreads = "${projectDir}/nf_assets/NO_FILE3"
            minLongReads = 2000
            bridgingMode = "normal"
        }
        lrasm {
            minLength = 400
            preset = null
            algorithm = null
            ec = null
            numConsensus = null
        }

    }

    r2c {
        useAssembledContigs = false
        r2c_aligner = "bwa"
        r2c_aligner_options = ""
        r2g_max_clip = null
        extractUnmapped = false
        rowLimit = null
    }


}

//container settings
apptainer {
    enabled = true
    pullTimeout = "1 hour"
    runOptions = "--compat"
}


//which containers to use for which processes
process {
    withLabel: 'sra2fastq' {
        container = 'kaijli/sra2fastq:1.6.3'
    }
    withLabel: 'countFastq' {
        container = 'apwat/count_fastq:0.2'
    }
    withLabel: 'qc'{
        container= 'apwat/run_faqcs:1.5'
    }
    withLabel: 'hostRemoval' {
        container= 'apwat/host_removal:1.7.4'
    }
    withLabel: 'assembly' {
        container = 'apwat/run_assembly:1.5'
    }
    withLabel: 'r2c' {
        container = 'apwat/run_r2c:1.6'
    }
}

//submission rate limit: needed for sra2fastq to operate correctly
executor {
    submitRateLimit = '1/5sec'
}

//cleanup
cleanup = false
