params {
    pairFile = "nf_assets/NO_FILE"
    unpairFile = "nf_assets/NO_FILE2"
    contigFile = null
    assembledContigs = null
    r2c_aligner = "bwa"
    r2c_aligner_options = ""
    r2g_max_clip = null
    fastq_source = null
    prefix = null
    cpus = 8
    outDir = "."
    extractUnmapped = false
    rowLimit = null
}

workflow.onComplete = {
    "rm -rf nf_assets".execute().text
}

docker.enabled=true
process.container = 'apwat/run_r2c:1.1'