/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
params {
    shared {
        cpus=4
    }
}


cleanup = false //necessary to compare snapshotted files

