process.container = 'apwat/host_removal:1.3'
singularity {
    enabled = true
    runOptions = "--compat"
}
params {
    //overwriteable parameters
    inputFiles = null
    fastqSource = "Illumina"
    host = "NO_FILE" //setup for NF optional input file pattern
    outDir = null
    fasta = null
    similarity = 90
    bwaMemOptions = null
    h = null
    minLen = 50
    cpus = 8
}
workflow.onComplete = {
    "rm -rf nf_assets".execute().text
}
