process.container = 'apwat/run_assembly:1.4.5'
singularity  {
    enabled = true
    runOptions = "--compat"
}
params {
    assembler = "IDBA_UD"
    outDir = '.'
    threads = 8 
    projName = "project"
    annotation = false
    contigSizeForAnnotation = 700
    pairedFiles = "nf_assets/NO_FILE"
    unpairedFile = "nf_assets/NO_FILE2"
    minContigSize = 200
    memLimit = null
    idba{
        maxK = null
        minK = 31
        step = 20
    }
    spades {
        pacbio = "nf_assets/NO_FILE3"
        nanopore = "nf_assets/NO_FILE4"
        algorithm = null
    }
    megahit {
        preset = null
    }
    unicycler {
        longreads = "nf_assets/NO_FILE3"
        minLongReads = 2000
        bridgingMode = "normal"
    }
    lrasm {
        minLength = 400
        preset = null
        algorithm = null
        ec = null
        numConsensus = null
    }
}
workflow.onComplete = {
    "rm -rf nf_assets".execute().text
}
workflow.onError = {
    "rm -rf nf_assets".execute().text
}