params {
    threads= 4
    minContigSize = 200
    memLimit = null
    idba{
        maxK = 121
        minK = 31
        step = 20
    }
    spades {
        pacbio = "NO_FILE3"
        nanopore = "NO_FILE4"
        algorithm = null
    }
    megahit {
        preset = null
    }
    unicycler {
        longreads = "NO_FILE3"
        minLongReads = 2000
        bridgingMode = "normal"
    }
    lrasm {
        minLength = 400
        preset = null
        algorithm = null
        ec = null
        numConsensus = null
    }
}