
singularity {
    enabled=true
    runOptions="--compat --cleanenv --home /media/volume/sdd/nextflow --bind /media/volume/sdd/nextflow/database:/venv/bin/../../../database --bind /media/volume/sdd/nextflow/krona_dbs:/venv/opt/krona/taxonomy"
}
process.container = 'apwat/reads_taxonomy:1.13'
workflow.failOnIgnore = true
params {
    pairFile = "nf_assets/NO_FILE"
    unpairFile = "nf_assets/NO_FILE2"
    allReads=null
    fastq_source = null
    outDir = "."
    debugFlag = null
    bwaScoreCut=30
    minLen = null
    split_trim_minq = null
    enabledTools = null
    custom_gottcha_genDB_b = null
    custom_gottcha_speDB_b = null
    custom_gottcha_strDB_b = null
    custom_gottcha_genDB_v = null
    custom_gottcha_speDB_v = null
    custom_gottcha_strDB_v = null
    //custom_gottcha2_speDB_b = "/media/volume/sdd/nextflow/database/GOTTCHA2/RefSeq-r220_BAVxH-cg/"
    //custom_gottcha2_genDB_v = "/media/volume/sdd/nextflow/database/GOTTCHA2/RefSeq-r220_BAVxH-cg/"
    //custom_gottcha2_speDB_v = "/media/volume/sdd/nextflow/database/GOTTCHA2/RefSeq-r220_BAVxH-cg/"
    custom_gottcha2_speDB_b = "/venv/bin/../../../database/GOTTCHA2/RefSeq-r220_BAVxH-cg/gottcha_db.species.fna"
    custom_gottcha2_speDB_v = null
    custom_gottcha2_genDB_v= null
    custom_bwa_db = null
    custom_centrifuge_db = null
    custom_metaphlan_db = null
    custom_kraken_db = null
    custom_pangia_db = null
    custom_diamond_db = null
    template = null
}

workflow.onComplete = {
    "rm -rf nf_assets".execute().text
}
workflow.onError = {
    "rm -rf nf_assets".execute().text
}