
singularity {
    enabled=true
    runOptions="--compat --home /path/to/home --bind /path/to/miccrDB:/venv/database/miccrDB"
}
process.container = 'apwat/contigs_taxonomy:1.10'
params {
    cpus = 8
    outDir = "."
    contigFile = null
    coverageTable = null
    dbPath = null
    projName = null
    rowLimit = 3000
}
