//container settings
apptainer {
    enabled = true
    cacheDir = "/project/refdata/nextflow/.apptainer"
    pullTimeout = "1 hour"
    runOptions = "--compat"
}

//discover and auto-bind subworkflow bin folders
nextflow.enable.moduleBinaries = true

//submission rate limit: needed for sra2fastq to operate correctly
executor {
    submitRateLimit = '1/5sec'
}

//which containers to use for which processes
process {
    withLabel: 'sra2fastq' {
        container = 'ghcr.io/lanl-bioinformatics/edge_sra2fastq:1.6.3'
    }
    withLabel: 'countFastq' {
        container = 'ghcr.io/lanl-bioinformatics/edge_count_fastq:0.3.0'
    }
    withLabel: 'processContigs' {
        container = 'ghcr.io/lanl-bioinformatics/edge_count_fastq:0.3.0'
    }
    withLabel: 'qc'{
        container= 'ghcr.io/lanl-bioinformatics/edge_run_faqcs:1.6.1'
    }
    withLabel: 'hostRemoval' {
        container= 'ghcr.io/lanl-bioinformatics/edge_host_removal:1.7.5'
    }
    withLabel: 'assembly' {
        container = 'ghcr.io/lanl-bioinformatics/edge_run_assembly:1.7.0'
    }
    withLabel: 'r2c' {
        container = 'apwat/run_r2c:1.7'
    }
    withLabel: 'r2g' {
        container = 'ghcr.io/lanl-bioinformatics/edge_ref_based:0.18.0'
    }
    withLabel: 'rta' {
        container = 'apwat/reads_taxonomy:1.15'
    }
    withLabel: 'cta' {
        container = 'ghcr.io/lanl-bioinformatics/edge_contigs_taxonomy:1.12.0'
    }
    withLabel: 'annotation' {
        container = 'apwat/annotation:0.6'
    }
    withLabel: 'phageFinder' {
        container = 'ghcr.io/lanl-bioinformatics/edge_phage_finder:1.2.0'
    }
    withLabel: 'sma' {
        container = 'apwat/sma:0.14'
    }
    withLabel: 'binning' {
        container = 'ghcr.io/lanl-bioinformatics/edge_binning:1.0.0'
    }
    withLabel: 'phyl' {
        container = 'ghcr.io/lanl-bioinformatics/edge_snp_tree:0.6.0'
    }
    withLabel: 'report' {
        container = 'ghcr.io/lanl-bioinformatics/edge_report:0.5.0'
    }
}