//container settings
apptainer {
    enabled = true
    libraryDir = "/project/refdata/nextflow/.apptainer"
    pullTimeout = "1 hour"
    runOptions = "--compat"
}

//discover and auto-bind subworkflow bin folders
nextflow.enable.moduleBinaries = true

//submission rate limit: needed for sra2fastq to operate correctly
executor {
    submitRateLimit = '1/5sec'
}

//which containers to use for which processes
process {
    withLabel: 'sra2fastq' {
        container = 'kaijli/sra2fastq:1.6.3'
    }
    withLabel: 'countFastq' {
        container = 'apwat/count_fastq:0.3'
    }
    withLabel: 'processContigs' {
        container = 'apwat/count_fastq:0.2'
    }
    withLabel: 'qc'{
        container= 'apwat/run_faqcs:1.6'
    }
    withLabel: 'hostRemoval' {
        container= 'apwat/host_removal:1.7.5'
    }
    withLabel: 'assembly' {
        container = 'apwat/run_assembly:1.6'
    }
    withLabel: 'r2c' {
        container = 'apwat/run_r2c:1.7'
    }
    withLabel: 'rta' {
        container = 'apwat/reads_taxonomy:1.15'
    }
    withLabel: 'cta' {
        container = 'apwat/contigs_taxonomy:1.12'
    }
    withLabel: 'annotation' {
        container = 'apwat/annotation:0.6'
    }
    withLabel: 'phageFinder' {
        container = 'apwat/phage_finder:1.2'
    }
    withLabel: 'sma' {
        container = 'apwat/sma:0.14'
    }
    withLabel: 'binning' {
        container = 'apwat/binning:1.0'
    }
    withLabel: 'phyl' {
        container = 'apwat/snp_tree:0.6'
    }
    withLabel: 'report' {
        container = 'apwat/edge_report:0.5'
    }
}