
singularity {
    enabled=true
    runOptions="--compat --home /media/volume/sdd/nextflow --bind /media/volume/sdd/nextflow/database/miccrDB:/venv/database/miccrDB"
}
process.container = 'apwat/contigs_taxonomy:1.7.5'
params {
    cpus = 8
    outDir = "."
    contigFile = null
    coverageTable = null
    dbPath = null
    projName = null
    rowLimit = 3000
}
