params {
    outDir = "."
    inputContigs = null
    taxKingdom = null
    annotateProgram = "prokka" //default
    projName = "unnamedProj"
    cpus = 8
    customProtein = "nf_assets/NO_FILE" //setup for optional file pattern
    customHMM = "nf_assets/NO_FILE2"
    sourceGBK = null
    evalue = null
    gcode = null
    keggView = false

}

singularity {
    enabled=true
    runOptions="--compat --bind .:/venv/bin/ec_info"
}
process.container = 'apwat/annotation:0.4'

workflow.onComplete = {
    "rm -rf nf_assets".execute().text
}

workflow.onError = {
    "rm -rf nf_assets".execute().text
}
