report {
    enabled = true
    file = '<%= nextflowOutDir %>/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = '<%= nextflowOutDir %>/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = '<%= nextflowOutDir %>/trace.txt'
    fields = 'name,status,start,complete,duration'
    overwrite = true
}