
params {

    //which modules are run
    modules {
        sra2fastq = false
        faqcs = true
        hostRemoval = false
        runAssembly = false
        annotation = false
        readsBinning = false
        phageFinder = true //true by default -- will run if non-viral reads are annotated
        readsTaxonomyAssignment = false
        contigsTaxonomyAssignment = false
        secondaryMetaboliteAnalysis = false
    }

    //module parameters -- passed directly into subworkflows according to best practices
    //these are the default values
    shared {
        inputFastq = <%- JSON.stringify(inputFastq) %>
        pairedFile = <%= pairedFile %>
        inputContigs = "${projectDir}/nf_assets/NO_FILE3" //contigs provided as input to entire pipeline
        assembledContigs = "${projectDir}/nf_assets/NO_FILE3" //contigs provided to bypass assembly
        outDir = "<%= outdir %>"
        projName = "<%= project %>"
        cpus = 8
        fastqSource = null
    }

    sra2fastq {
        accessions = []
    }

    faqcs{
        trimQual = <%= trimQual %>
        trim5end = <%= trim5end %>
        trim3end = <%= trim3end %>
        trimAdapter = <%= trimAdapter %>
        trimPolyA = <%= trimPolyA %>
        artifactFile = "<%= artifactFile %>"
        minLen = <%= minLen %>
        avgQual = <%= avgQual %>
        numN = <%= numN %>
        filtLC = <%= filtLC %>
        filtPhiX = <%= filtPhiX %>
    }

    hostRemoval {
        host = ["${projectDir}/nf_assets/NO_FILE3"]
        similarity = 90
        bwaMemOptions = null
    }
    assembly {
        //assemblers: IDBA_UD, SPAdes, Unicycler, Megahit, LRASM
        assembler = "IDBA_UD"
        minContigSize = 200
        memLimit = null
        idba{
            maxK = null
            minK = 31
            step = 20
        }
        spades {
            pacbio = "${projectDir}/nf_assets/NO_FILE3"
            nanopore = "${projectDir}/nf_assets/NO_FILE4"
            algorithm = null
        }
        megahit {
            preset = null
        }
        unicycler {
            longreads = "${projectDir}/nf_assets/NO_FILE3"
            minLongReads = 2000
            bridgingMode = "normal"
        }
        lrasm {
            minLength = 400
            preset = null
            algorithm = null
            ec = null
            numConsensus = null
        }

    }

    
    r2c {
        r2c_aligner = "bwa"
        r2c_aligner_options = ""
        r2g_max_clip = null
        extractUnmapped = false
        rowLimit = null
    }
    
    annotation {
        contigSizeForAnnotation = 700
        taxKingdom = null
        //annotaters: prokka, ratt
        annotateProgram = "prokka" //default
        customProtein = "${projectDir}/nf_assets/NO_FILE" //setup for optional file pattern
        customHMM = "${projectDir}/nf_assets/NO_FILE2"
        sourceGBK = null
        evalue = null
        gcode = null
        keggView = false
    }

    binning {
        binningMinLength = 1000
        binningMaxItr = 50
        binningProb = 0.9
        //107 or 40
        binningMarkerSet =107
        binningAbundFile = "${projectDir}/nf_assets/NO_FILE3"
        doCheckM = false
    }

    readsTaxonomy {
        splitTrimMinQ = 20
        //RTA tools: gottcha-genDB-b,gottcha-speDB-b,gottcha-strDB-b,gottcha-genDB-v,gottcha-speDB-v,gottcha-strDB-v,gottcha2-speDB-b,pangia,bwa,metaphlan4,kraken2,centrifuge,diamond
        enabledTools = "gottcha-genDB-b,gottcha-speDB-b,gottcha-strDB-b,gottcha-genDB-v,gottcha-speDB-v,gottcha-strDB-v,gottcha2-speDB-b,pangia,bwa,metaphlan4,kraken2,centrifuge,diamond"
        baseDB = "${projectDir}/../../../database"
        custom_gottcha_genDB_b = null
        custom_gottcha_speDB_b = null
        custom_gottcha_strDB_b = null
        custom_gottcha_genDB_v = null
        custom_gottcha_speDB_v = null
        custom_gottcha_strDB_v = null
        custom_gottcha2_speDB_b = "${projectDir}/../../../database/GOTTCHA2/RefSeq-r220_BAVxH-cg/gottcha_db.species.fna"
        custom_gottcha2_speDB_v = null
        custom_gottcha2_genDB_v= null
        custom_bwa_db= null
        custom_metaphlan_db= null
        custom_kraken_db= null
        custom_pangia_db= null
        custom_diamond_db= null
        custom_centrifuge_db = null

    }

    contigsTaxonomy {
        miccrDB = "${projectDir}/../../../database/miccrDB"
        rowLimit = 3000
    }

    SMA {
        database = "${projectDir}/../../../database/antiSMASH" //path to downloaded database location (download-antismash-databases --database-dir <DBPATH>)
        smaTaxon = 'bacteria'
        clusterblast = false 
        subclusterblast = true
        knownclusterblast = true
        mibig = false
        smcogs = false 
        pfam2go = false
        asf = true
        rre = true
        fullhmm = false 
        tigrfam = false
        cassis = false //only with fungi
    }



}

//container settings
apptainer {
    enabled = true
    pullTimeout = "1 hour"
    runOptions = "--compat"
}

//discover and auto-bind subworkflow bin folders
nextflow.enable.moduleBinaries = true


//which containers to use for which processes
process {
    withLabel: 'sra2fastq' {
        container = 'kaijli/sra2fastq:1.6.3'
    }
    withLabel: 'countFastq' {
        container = 'apwat/count_fastq:0.3'
    }
    withLabel: 'processContigs' {
        container = 'apwat/count_fastq:0.2'
    }
    withLabel: 'qc'{
        container= 'apwat/run_faqcs:1.6'
    }
    withLabel: 'hostRemoval' {
        container= 'apwat/host_removal:1.7.5'
    }
    withLabel: 'assembly' {
        container = 'apwat/run_assembly:1.6'
    }
    withLabel: 'r2c' {
        container = 'apwat/run_r2c:1.7'
    }
    withLabel: 'rta' {
        container = 'apwat/reads_taxonomy:1.14'
    }
    withLabel: 'cta' {
        container = 'apwat/contigs_taxonomy:1.11'
    }
    withLabel: 'annotation' {
        container = 'apwat/annotation:0.5'
    }
    withLabel: 'phageFinder' {
        container = 'apwat/phage_finder:1.1'
    }
    withLabel: 'sma' {
        container = 'apwat/sma:0.14'
    }
    withLabel: 'binning' {
        container = 'apwat/reads_binning:0.1'
    }
    withLabel: 'report' {
        container = 'apwat/edge_report:0.5'
    }
}

//submission rate limit: needed for sra2fastq to operate correctly
executor {
    submitRateLimit = '1/5sec'
}

includeConfig "<%= report_config %>"