workDir="<%= nextflowOutDir %>/work"
conda.enabled=true
//cleanup = true

process {
    cpus = 12            // default CPU threads for processes
    time = "100h"       // default max runtime
    container = null    // can override in individual processes
}

docker {
    enabled = true 
    runOptions = "-v /Users/L367238/Desktop/dtra/dbs:/dbs"
}

params {
	read_type="<%= read_type %>"
	time="100h"
	threads=12
	read_dir="<%= read_dir %>"
	output_dir="<%= output_dir %>"
	rrna_db="/dbs/riboKmers20fused.fa.gz"
	human_db="/dbs/abundant_humkmers.fasta"
	checkm_parse_script="/Users/L367238/Desktop/dtra/nextflow/scripts/bin_selector.py"
	gunc_db="/Users/L367238/Desktop/dtra/dbs/gunc_db/gunc_db_progenomes2.1.dmnd"
	gtdbtk_data="/dbs/gtdb-tk_db/release226"
	checkv_db="/dbs/checkv_db/checkv-db-v1.5"
    genomad_db="/Users/L367238/Desktop/dtra/dbs/genomad_db"
}

<%- include (containerConfig) %>

<%- include (nfReports) %>

includeConfig "<%= executorConfig %>"