params {
    //defaults
    input = null //either contig file or gbk from annotation
    projName = "Project"
    outDir = "."
    numCPU=8
    database = "$projectDir/../../database/antiSMASH" //path to downloaded database location (download-antismash-databases --database-dir <DBPATH>)
    //defaults
    taxon = 'bacteria'
    clusterblast = false
    subclusterblast = true
    knownclusterblast = true
    mibig = false
    smcogs = false
    pfam2go = false
    asf = true
    rre = true
    fullhmm = false
    tigrfam = false
    cassis = false //only with fungi
}

process.container="apwat/sma:0.14"
singularity{
    enabled=true
    runOptions="--compat -H $PWD --bind $projectDir/../../database/antiSMASH:$projectDir/../../database/antiSMASH"
}

cleanup=true