//these defaults are overriden by any config files or command-line options
params {
    clean = ""
    platform_restrict = ""
    outdir = ""
    accessions = "" 
}

process.container = 'kaijli/sra2fastq:1.6.3'
charliecloud.enabled = true //must set $NXF_CHARLIECLOUD_CACHEDIR
executor {
    submitRateLimit = '1/5sec'
}