PORT=5000
CRON_PORT=5555
NODE_ENV=development

# uncomment 'SYSTEM_MESSAGE' and restart pm2 to disable workflow submission
# SYSTEM_MESSAGE=Workflow submission is temporarily unavailable. You can still browse/view your submitted projects.

# Base URL at which visitors can access the web UI server
APP_UI_BASE_URL=http://localhost:3000
# auth
JWT_SECRET=JlhzcsEGdkzfcFbXlRJP
# Database
DB_NAME=edgev3
# upload file
FILEUPLOAD_ALLOWED_EXTENSIONS=fastq|fq|faa|fa|fasta|fna|contigs|fastq.gz|fq.gz|fa.gz|fasta.gz|fna.gz|contigs.gz|fa.bz2|fasta.bz2|contigs.bz2|fna.bz2|fa.xz|fasta.xz|contigs.xz|fna.xz|gbk|gff|genbank|gb|xlsx|txt|bed|config|tsv|csv|raw|d|bam|sam

# nextflow
NEXTFLOW_WORKFLOW_DIR=<nextflow workflow directory>
NEXTFLOW_WRAPPER=<nextflow wrapper script>
